.orgCardWrapper {
    width: 100%;
    height: 35%;
    display: flex;
    border: solid 1px borderColor;
    border-radius: 8px;
    justify-content: stretch;
    background-color: #F9F3E9;
    padding: 15px;
    margin-bottom: 10px;
}

.orgCardWrapper > img {
    height: 70px;
    width: 70px;
    margin-right: 18px;
    border-radius: 5.45px;
  }

  .orgCardRightColumn {
    display: column;
    margin-top: 4px;
  }

  .orgCardTitle {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #393937;
    margin-bottom: 4px;
  }

  .orgCardDescription {
    font-family: Arial;
    font-size: 10px;
    color: #393937;
    margin-bottom: 4px;
  }

  .orgCardTags {
    display: row;
  }

  .myButton {
    background-color: #F89620; /* Set the background color */
    border: none; /* Remove the border */
    color: #3D4141; /* Set the text color */
    padding: 12px 12; /* Add padding to the button */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove the underline */
    display: inline-block; /* Set the button to display as an inline element */
    font-size: 10px; /* Set the font size */
    margin: 4px 2px; /* Add margin to the button */
    cursor: pointer; /* Add a pointer cursor on hover */
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 6px; /* Add rounded corners */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); /* Add a shadow effect */
    transition: background-color 0.3s ease; /* Add a smooth color transition */
  }

  .myButton:hover {
    background-color: hsl(0, 0%, 70%); /* Change the background color on hover */
  }

  .myOtherButton {
    background-color: #B3B3B3; /* Set the background color */
    border: none; /* Remove the border */
    color: #3D4141; /* Set the text color */
    padding: 12px 12; /* Add padding to the button */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove the underline */
    display: inline-block; /* Set the button to display as an inline element */
    font-size: 10px; /* Set the font size */
    margin: 4px 2px; /* Add margin to the button */
    cursor: pointer; /* Add a pointer cursor on hover */
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 6px; /* Add rounded corners */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); /* Add a shadow effect */
    transition: background-color 0.3s ease; /* Add a smooth color transition */
  }
